/* Typography */

html {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

a:link, a:visited {
	color:white;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  font-size:10px;
}

th, td {
  text-align: left;
  padding: 8px;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 2em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 1rem;
	height: 1rem;
}
